ul {
    color: red !important;
}
body {
    background-color: whitesmoke;
}

/* Solutions Page styling */
#sol-intro {
    display: flex;
    justify-content: center;
}

#we-help-intro {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    font-size: 3rem;
    color: #085394;
}

#we-help-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3rem;
}

#eight-steps {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3rem;
    font-size: 2.5rem;
    color: #085394;
}

#steps-para {
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-size: 1.5rem;
}

