<<<<<<< HEAD
ul {
    color: rgb(243, 152, 152) !important;
}
body {
    background-color: red;
=======
/*------------------------------------------------------- navbar */
#nav-ul {
    margin-bottom: 20px;
    margin-left: 30px;
>>>>>>> 8b367fa76f0e53a7e4a567d4d25339b036e4d208
}