
/*------------------------------------------------------- navbar */
#nav-ul {
    margin-bottom: 20px;
    margin-left: 30px;
}

#links-footer {
    margin-right: 10px;
}

#footer {
    background-color: #085394;
    color: white;

    margin-top: 20px;
}

/*------------------------------------------------------- about*/
#about-container {
    color: #085394;
    font-family: 'inter', serif;
    font-weight: 600;
}

#about-container p{
    
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 20px;
}

#about-container .card-title{
    color: #085394;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 50px;
}