

/* Headings and Logo */
h1,
h2,
#logo {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  text-decoration: none;
}

/* Navigation links */
#menu {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

div {
  margin-top: 30px;
}

.img-hero {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

/* utility */


/* Emplyee button */

#button {
  display: center; 
  padding: 30px 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #085394;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#button:hover {background-color: #3a78d4}

#button:active {
  background-color: #5689d6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.yellow-image {
  position: relative;
  margin: 0;
  padding: 0;
}

.yellow-image .btn {
  position: absolute;
  top: 50%;
  left: 10%;
}

/* footer */
footer {
    margin-top: 50px;
  }
  
  .social-networks {
    text-align: center;
  }
  
  .social-networks>li {
    display: inline;
  }
  
  .social-networks i {
    font-size: 2rem;
    margin: 1px;
    padding: 5%;
    color: black;
  }

ul {
    color: rgb(243, 152, 152) !important;
}

/*------------------------------------------------------- navbar */
#nav-ul {
    margin-bottom: 20px;
    margin-left: 30px;
}

#links-footer {
    margin-right: 10px;
}

#footer {
    background-color: #085394;
    color: white;

    margin-top: 20px;
}

/*------------------------------------------------------- about*/
#about-container {
    color: #085394;
    font-family: 'inter', serif;
    font-weight: 600;
}

#about-container p{
    
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 20px;
}

#about-container .card-title{
    color: #085394;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 50px;
}
/* ------- Allauth form formatting ------- */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    font-size: 0.9rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 500;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #085394;
    border: 1px solid #085394;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
	color: #085394;
    background-color: #fff;
    border-color: #222;
}

.allauth-form-inner-content .form-group,
.allauth-form-inner-content a {
	color: #085394; /* text-info */
    font-weight: 600;
}

  /* to overide main btn-fc class */
.allauth-form-inner-content a{
    border-color: #222;
}

.allauth-form-inner-content a:hover {
    color: #085394;
    border-color: #222;
}

/* Solutions Page styling */
#we-help-intro {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    font-size: 3rem;
    color: #085394;
}

#we-help-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3rem;
}

#solutions-list {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}    

.solutions-box {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;  
}

#insights {
    background-color: #f7a302;
}

#insights-text {
    font-size: 1rem;
    padding-top: 1.8rem;
}

#training {
    background-color: #3a9ffb;
}

#training-text {
    font-size: 1rem;
    padding-top: 1.8rem;
}

#membership {
    background-color: rgb(173, 118, 171);
}

#membership-text {
    font-size: 1rem;
    padding-top: 1.8rem;
}    

#events {
    background-color: olivedrab;
}

#events-text {
    font-size: 1rem;
    padding-top: 1.8rem;
}

#eight-steps {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3rem;
    font-size: 2.5rem;
    color: #085394;
}

#steps-para {
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-size: 1.5rem;
}

.steps-headers {
    color: #085394;
    border-color: #222;
}
