{% extends 'site_base.html' %}
{% load static %}
{% block content %}

    
     <!-- hero (will have infographic video on what is mindfulness - using keyframes) -->
     <section>
         <div class="embed-responsive embed-responsive-21by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hCOlYnQR-1I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
     </section>
     <!--  below hero is a CTA which leads to employer solutions page -->
     <section>
        <div class="container-fluid yellow-image">
        <img src="{% static 'img/landing-page-img1.jpg' %}" class="card-img-top img-fluid" alt="...">
         <button id="button" class="btn btn-lg">Why is employee happiness good for business</button>
        </div>
       
        <!-- about us - blurb and what we do plus a CTA linking to about us page -->
     </section>
     <section>
        <div class="embed-responsive embed-responsive-21by9">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/uljiTtwZz7s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="text-center">
         <button id="button" class="btn btn-lg">Find out more!</button>
       </div>
     </section>
     <!-- signup form newsletter -->
     <section>

     </section>
     <!-- find us/ contact us OR what other companies about workforce wellbeing -->

     <section>

     </section>
     {% endblock %}   