{% extends 'site_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
{% block content %}
    <!--infographics: why happier workforce is better for the business-->
    <section>
        <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gNY2pyH13FA" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        </div>
    </section>
    <section>
      <div >
        <p id="testing">yellow font</p>
      </div>
    </section>
    <!--8 steps to accelerate mindfulness at work-->
    <section>
        <h1 class="text-center">8 Steps to accelerate mindfulness</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-sm-12">
              <div class="card text-center">
                <div class="card-block">
                  <img src="{% static 'TNA-workshop.jpg' %}" alt="" class="img-top">
                  <div class="card-title">
                    <h3>CREATE A SENSE OF URGENCY</h3>
                  </div>
                  <div class="card-text">        
                    <p>Building urgency is all about concentrating on a window of opportunity that is open today
                      but may close tomorrow. Such an opportunity brings people together, aligning them around a
                      commonality, and clarifying where energy should be directed.</p>  
                  </div>
                  <a href="" class="btn btn-primary">click here</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-sm-12">
              <div class="card text-center">
                <div class="card-block">
                  <img src="" alt="" class="img-fluid">
                  <div class="card-title">
                    <h3>BUILD A GUIDING COALITION</h3>
                  </div>
                  <div class="card-text">
                    <p>The Guiding Coalition is, in many ways, the nerve center of the 8-Step Process. It can
                      take many shapes, but must consist of members from multiple layers of the hierarchy,
                      represent many functions, receive information about the organization at all levels and
                      ranks, and synthesize that information into new ways of working.</p>  
                  </div>
                  <a href="" class="btn btn-primary">click here</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-sm-12">
              <div class="card text-center">
                <div class="card-block">
                  <img src="" alt="" class="img-fluid">
                  <div class="card-title">
                    <h3>FORM A STRATEGIC VISION & INITIATIVES</h3>
                  </div>
                  <div class="card-text">
                    <p>Strategic initiatives are targeted and coordinated activities that, if
                      designed and executed fast enough and well enough, will make your vision a reality.</p>  
                  </div>
                  <a href="" class="btn btn-primary">click here</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-sm-12">
              <div class="card text-center">
                <div class="card-block">
                  <img src="" alt="" class="img-fluid">
                  <div class="card-title">
                    <h3>ENLIST A VOLUNTEER ARMY</h3>
                  </div>
                  <div class="card-text">
                    <p>Large-scale change can only occur when very significant numbers of employees amass
                      under a common opportunity and drive in the same direction.</p>  
                  </div>
                  <a href="" class="btn btn-primary">click here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-sm-12">
              <div class="card text-center">
                <div class="card-block">
                  <img src="" alt="" class="img-fluid">
                  <div class="card-title">
                    <h3>ENABLE ACTION BY REMOVING BARRIERS</h3>
                  </div>
                  <div class="card-text">        
                    <p>By removing barriers such as inefficient processes and archaic norms, leaders provide
                      the freedom necessary for employees to work across boundaries and create real
                      impact.</p>  
                  </div>
                  <a href="" class="btn btn-primary">click here</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-sm-12">
              <div class="card text-center">
                <div class="card-block">
                  <img src="" alt="" class="img-fluid">
                  <div class="card-title">
                    <h3>GENERATE SHORT-TERM WINS</h3>
                  </div>
                  <div class="card-text">
                    <p>Wins are the molecules of results. They must be collected, categorized and
                      communicated – early and often – to track progress and energize your volunteers to
                      drive change.</p>  
                  </div>
                  <a href="" class="btn btn-primary">click here</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-sm-12">
              <div class="card text-center">
                <div class="card-block">
                  <img src="" alt="" class="img-fluid">
                  <div class="card-title">
                    <h3>SUSTAIN ACCELERATION</h3>
                  </div>
                  <div class="card-text">
                    <p>Press harder after the first successes. Your increasing credibility can improve systems,
                      structures and policies. Be relentless with initiating change after change until the vision is a
                      reality.</p>  
                  </div>
                  <a href="" class="btn btn-primary">click here</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-sm-12">
              <div class="card text-center">
                <div class="card-block">
                  <img src="" alt="" class="img-fluid">
                  <div class="card-title">
                    <h3>INSTITUTE CHANGE</h3>
                  </div>
                  <div class="card-text">
                    <p>To ensure new behaviors are repeated over the long term, it's important that you
                      define and communicate the connections between those behaviors and the
                      organization's success.</p>  
                  </div>
                  <a href="" class="btn btn-primary">click here</a>
                </div>
              </div>
            </div>
          </div>
        </div>    
    </section>    

    <!--Upcoming Events section-->
    <section>


    </section>
    
    </section>
    <!--8 steps to accelerate mindfulness at work-->
    <section>
        <h1 id="steps">8 Steps to accelerate mindfulness</h1>
        <div class="container">
            <div class="card-deck">
                <div class="card">
                  <img src="{% static 'img/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpeg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-title">CREATE</h4>
                    <h5> a sense of urgency</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-title">BUILD</h4>
                    <h5> a guiding coalition</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-title">FORM</h4>
                    <h5> a strategic vision & initiatives</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">ENLIST</h4>
                      <h5> a volunteer army</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
            </div>


        </div>
    </section>
{% endblock %}   

