{% extends 'site_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
{% block content %}
    <!--infographics: why a happier workforce is better for the business-->
    <section>
      <h1 id="sol-intro" class="text-center">Why is employee happiness good for business?</h1>
      <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gNY2pyH13FA" title="YouTube video player" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
    </section>
    <!--8 steps to accelerate mindfulness at work-->
    <section>
        <h1 id="eight-steps">8 steps to accelerate workforce well-being and employee mindfulness</h1>
        <p id="steps-para">
          Based primarily on Kotter Inc.'s 8 Steps to Accelerate Change in Your Organization, 
          the methods and principles below provide the framework for business leaders to adopt, build upon and
          implement actionable strategies geared towards their workforce's well-being and happiness.  
        
          These 8-steps focus on the mindsets, attitudes, and behaviours needed to drive the desired change and transformation.
        </p>  
        <div class="container">
            <div class="card-deck">
              <div class="card">
                  <img src="{% static 'img/urgency.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-title">1. CREATE</h4>
                    <h5> a sense of urgency</h5>
                    <p class="card-text">
                      Top leaders must describe an opportunity to accelerate their workforce's well-being that will appeal 
                      to individuals' heads + hearts, and use this statement to raise a large, urgent army of volunteers. 
                    </p>
                  </div>
                  <div class="card-footer">
                    <p class="font-weight-bold">
                      RESULTS: You'll have a breadth of mindfulness and staf well-being focused readiness across the organization.
                    </p>
                    <a href="" class="btn btn-primary">Let's Talk</a>
                  </div>
              </div>
              <div class="card">
                  <img src="{% static 'img/coalition.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-title">2. BUILD</h4>
                    <h5> a guiding coalition</h5>
                    <p class="card-text">
                      The Guiding Coalition is, in many ways, the nerve center of the 8-Step Process. 
                      It can take many shapes, but must consist of members from multiple layers of the hierarchy,
                      represent many functions, receive information about the organization at all levels and
                      ranks, and synthesize that information into new ways of working.
                    </p>
                  </div>
                  <div class="card-footer">
                    <a href="" class="btn btn-primary">Let's Talk</a>
                  </div>
              </div>
              <div class="card">
                <img src="{% static 'img/form.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title">3. FORM</h4>
                  <h5> a strategic vision & initiatives</h5>
                  <p class="card-text">
                    Dr. Kotter defines strategic initiatives as targeted and coordinated activities that, 
                    if designed and executed fast enough and well enough, will make your vision a reality.
                    Characteristics of a terrific strategic vision:
                  </p>  
                  <ul>
                    <li>Communicable</li>
                    <li>Desirable</li>
                    <li>Creates a Verbal Picture</li>
                    <li>Flexible</li>
                    <li>Feasible</li>
                    <li>Imaginable</li>
                    <li>Simple</li>
                  </ul>
              </div>
              <div class="card-footer">
                <a href="" class="btn btn-primary">Let's Talk</a>
              </div>
            </div> 
          </div>   
        </div>
        <br> <br>
        <div class="container">
          <div class="card-deck">
            <div class="card">
              <img src="{% static 'img/enlist.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title">4. ENLIST</h4>
                <h5> a volunteer army</h5>
                <p class="card-text">
                  Large-scale change can only occur when very significant numbers of employees amass under a common opportunity and drive in the same direction.  
                </p>
                <p>
                  Accelerate explains that "history has demonstrated that it is possible to find many change agents … but only if people are given a choice, and feel they truly have permission to step
                  forward and act." You must build excitement around the Big Opportunity and develop a feeling that one ”wants to" (vs. ”has to") contribute.
                </p>
              </div>
              <div class="card-footer">
                <a href="" class="btn btn-primary">Let's Talk</a>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'img/urgency.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title">5. ENABLE ACTION</h4>
                <h5> by removing barriers</h5>
                <p class="card-text">
                  By removing barriers such as inefficient processes and archaic norms, leaders provide
                  the freedom necessary for employees to work across boundaries and create real impact.
                </p>
              </div>
              <div class="card-footer">
                <p class="font-weight-bold">
                  RESULTS: You'll have tangible evidence of employee motivation stemming from collapsed silos 
                  and new ways of working together.
                </p>
                <a href="" class="btn btn-primary">Let's Talk</a>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'img/coalition.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title">6. GENERATE</h4>
                <h5>short-term wins</h5>
                <p class="card-text">
                  The Guiding Coalition is, in many ways, the nerve center of the 8-Step Process.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>      
        <br><br>
        <div class="container">
          <div class="card-deck">
              <div class="card">
                <img src="{% static 'img/form.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title">FORM</h4>
                  <h5> a strategic vision & initiatives</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card">
                  <img src="{% static 'img/enlist.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-title">ENLIST</h4>
                    <h5> a volunteer army</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
              </div>
          </div>
        </div>
    </section>
    <!-- How can we help (insights, membership (solutions by role: training, events, research))?-->
    <section>

    </section>
    <!-- nominate chair and co-chair of specific roles?-->
    <section>

    </section>
    <!-- upcoming events-->
    <section>

    </section>
    <!-- nominate chair and co-chair of specific roles?-->





{% endblock %}   

